<!DOCTYPE html>
<html lang="en">

<head>
  {{> headerLinks}}
  <title>HRMO SYSTEM | Dashboard</title>
</head>


<body>
  <!-- ======= Header ======= -->
    {{> header}}
  <!-- ======= Sidebar ======= -->
    {{> sidebar}}
  <!-- End Sidebar-->

  <main id="main" class="main">
    
    {{> home}}

  </main><!-- End #main -->
  

  <!-- ======= Footer ======= -->
    {{> footer}}
    
    {{> jsLinks}}
   

</body>

</html>