<!DOCTYPE html>
<html lang="en">

<head>
  
  {{> headerLinks}}
  <title>HRMO SYSTEM | My Profile</title>

</head>


<body>
  <!-- ======= Header ======= -->
    {{> header}}
  <!-- ======= Sidebar ======= -->

    {{> sidebar}}
    
  <!-- End Sidebar-->

  <main id="main" class="main">
    
    {{> profile_partial}}

  </main><!-- End #main -->
  

  <!-- ======= Footer ======= -->
    {{> footer}}
    
    {{> jsLinks}}
   
  <script src="/assets/js/profile.js"> </script>
</body>

</html>