<!DOCTYPE html>
<html lang="en">

<head>
  {{> headerLinks}}
  <title>HRMO SYSTEM | Dashboard</title>
</head>


<body>
  <!-- ======= Header ======= -->
    {{> header}}
  <!-- ======= Sidebar ======= -->
    {{> sidebar}}
  <!-- End Sidebar-->

  <main id="main" class="main">
    
    {{> register_partial}}

  </main><!-- End #main -->
  

  <!-- ======= Footer ======= -->
    {{> footer}}
    
    {{> jsLinks}}
   
 {{!-- <div class="modal fade" id="ExtralargeModal" tabindex="-1">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                  </div>
                <form class="row g-3 needs-validation" onsubmit="false" action="/auth/register" method="POST"
                  oninput='repeatPassword.setCustomValidity(repeatPassword.value != password.value ? "Passwords do not match." : "")'>
                    <div class="col-12">
                      <label for="employeeID" class="form-label">Employee Number</label>
                      <input type="text" name="employeeID" class="form-control" id="employeeID" required>
                      <div class="invalid-feedback">Enter Employee ID</div>
                    </div>

                    <div class="col-12">
                      <label for="name" class="form-label">Full Name</label>
                      <input type="text" name="name" class="form-control" id="name" required>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                    <div class="col-12">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" name="email" class="form-control" id="email" required>
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                    <div class="col-12">
                      <label for="username" class="form-label">Username</label>
                      <div class="input-group has-validat ion">
                        <input type="text" name="username" class="form-control" id="username" required>
                        <div class="invalid-feedback">Please choose a username.</div>
                      </div>
                    </div>

                    {{!-- <div class="col-12">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="password" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <label for="repeatPassword" class="form-label">Confirm Password</label>
                      <input type="password" name="repeatPassword" class="form-control" id="repeatPassword" required>
                      <div class="invalid-feedback">Confirm password!</div>
                    </div> --}}

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>

                      {{#if error}}
                        <p class="alert alert-danger mt-4 " role="alert">{{error}}</p>
                      {{/if}}
                      {{#if success}}
                        <p class="alert alert-success mt-4 " role="alert">{{success}}</p>
                      {{/if}}

                  </form>
        </div><!-- End Extra Large Modal--> --}}
</body>

</html>