<!DOCTYPE html>
<html lang="en">

<head>
  
  {{> headerLinks}}
  <title>HRMO SYSTEM | Users</title>

</head>


<body>
            {{!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
                TEST
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div> --}}
            {{!-- <script>
                //function hideAlert() {
                  //  $('.alert').alert('close');
                }
                //setTimeout(hideAlert, 3000); // Close the alert after 5 seconds
            </script>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                TEST
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

        <script>
                //function hideAlert() {
                    
                }
                //setTimeout(hideAlert, 3000); // Close the alert after 5 seconds
        </script>
     --}}
  <main id="main" class="main">
    
    {{!-- {{#if home}} --}}
      {{> users/index}}
    {{!-- {{/if}} --}}

  </main><!-- End #main -->
  

  <!-- ======= Footer ======= -->
  
    {{> footer}}

    
    {{> jsLinks}}
   
  <script src="/assets/js/profile.js"> </script>
</body>

</html>
<script>

</script>